<h1><em>Welcome to ShogunV1...</em></h1>
<br/>
<% if Current.user %>

	<p>Hello<em class="fw-bold"><%= " " + Current.user.email %></em></p>
	<p>Hope you are satisfied with our service ^__^</p>

<% else %>
	<p class="font-monospace">Please log in so you can use our sevice!</p>
<% end %>
