<div class="card">
  <div class="card-header">
    <h3>About me...</h3>
  </div>
  <div class="card-body">
	<p>Hello, my name is <em>Yessine Ben Tkhayat</em>. I'm a 3rd year networks and systems engineering student, and a cybersecurity enthusiast.</p> 
	<p>This is my first ever ruby on rails project: it was such a good fun experience from which I learned about ruby lang and the rails framework.</p> 
  </div>
</div>






